* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "josh",bold;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

.heading2{
	color:black;
	font-weight: bolder;
	text-align: center;
	font-family:bold;
	position:relative;
	top:10px;
	right:20px;
	font-size:30px;
	}
.heading{
	color:white;
	font-weight: bolder;
	text-align: center;
	font-family:bold;
	position:absolute;
	top:70px;
	right:110px;
	font-size:60px;
     border: 0.6rem solid black;
     background:black;
     border-radius:15px;
	}

.box{
	opacity:0.8;
	width:1800px;
}
.btn{
	width:150px;
	left:10px;
}
.btn2{
	left:280px;
	bottom:55px;
}
body{
background:url('uploads.jpg') no-repeat ;
 }
 .box2{
 	width:1000px;
 	text-align:center;
 	position:absolute;
 	margin:auto;	
 }
 .btn3{
 	margin:auto;
 	position:absolute;
 	bottom:10px;
 	left:170px;
 	width:300px;
 }